*
{
	box-sizing: border-box;
}
body
{
	font-size: 16px;
	color: #fff;
	background-color:black;
	font-family: 'Oxygen', sans-serif;
}

#header-nav
{
	background-color: #f6b319;
	border-radius: 0;
	border-radius: 0;
}


.logo-img >img
{
	width: 110px;
	height: 110px;
	margin: 10px 15px 10px 0;

}
.navbar-brand
{
	padding-top: 25px;
}
.navbar-brand h1
{	
	font-family: 'Orbitron', sans-serif;	
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top:0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover,.navbar-brand a:focus
{
	text-decoration: none;
}
.navbar-brand p
{
	color: #000;
	text-transform: uppercase;
	font-size: 0.5em;
	margin-top: 15px;
}
.navbar-brand p span
{
	vertical-align: middle;
}
#nav-list a:hover
{
	background-color: white;
}
#nav-list
{
	margin-top: 5px;
}

#nav-list a
{
	color: #951C49;
	text-align: center;
	font-size: 1.4em;
}
#row
{
	width: 100%;
}
#row h1
{
	text-align: center;
	font-size: 3em;
}
.ul
{
	margin: 0;
	padding:0;
	list-style: none;
}

.container  .ul
{
	display: flex;
	align-items: center;
	justify-content: center;	
	position: relative;
	top: 200px;
}

.ul li
{
	position: relative;
	top: -170px;
	font-size: 4em;
	padding: 25px;
}

.panel-footer
{
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: black;
	border-top: 0;
}
.panel-footer div.rows
{
	margin-bottom: 35px;
}
#sec ,#sec1,#sec2
{
	line-height: 2;
}
#sec >span ,#sec1 >span ,#sec2 >span
{
	font-size: 1.5em;
	color: white;
}
#sec1 p ,#sec2 p,#sec ul>li
{
	color: #557c3e;
	font-size: .8em;
	line-height: 1.8em;
}
#sec1 p.p
{
	font-size: 0.6em;
}
.text-center a
{
	text-align: center;
	color: white;
	font-size: 0.8em;
	text-decoration: none;
}
.text-center a:hover 
{
	text-decoration: none;
}